body {
  display: flex;
  justify-content: center;
  background-image: url('./files/starwars-wp.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.forms-container {
  border-radius: 10px;
  margin-bottom: 3%;
  background-color: #3a3a3a;
  font-weight: bold;
}

.name-input {
  padding: 2% 0% 0% 5.8%;
  width: fit-content;
}

.filters-container { 
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  outline: none;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
}

.select {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  border-style: none;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 9px  8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: fit-content;
  padding-left: 8px;
}

.option-dropdown {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  border-style: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 9px  8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: fit-content;
  padding-left: 8px;
}

.input-name {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  border-style: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 9px  8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: fit-content;
  padding-left: 8px;
}

input {
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  border-style: none;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 9px  8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: fit-content;
  padding-left: 8px;
}